h1 {
    color: #5e6a69;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color: #5e6a69;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}
img {
    
}

.welcomemsg {
    font-style: italic;
}
